bin/
old/

.gitignore
.pyup.yml
Dockerfile
appveyor.yml
circle.yml
docker-compose.yml
pytest.ini
riot.txt
tox.ini

.cache/
.eggs/
.tox/
build/
dist/
htmlcov/
venv/

*.egg-info
*.pyc

league-utils.spec
.coverage
.junitxml

gold-items-support.png
