environment:
  global:
    GITHUB_TOKEN:
      secure: okx1kvyvLLF/KSkltebXSU/n3B8nm3rFBKEveGme3trpkMFYSrG8aV+8ajSFjXTz
    HOME: "C:\\"
    LEAGUE_TOKEN: dummy-token
    PYPI_USERNAME: thekevjames-appveyor
    PYPI_PASSWORD:
      secure: clgxg8tVQ1E4xxMrg9MZ9w==

install:
  - "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"

  - "curl -L https://github.com/aktau/github-release/releases/download/v0.6.2/windows-amd64-github-release.zip > github-release.zip"
  - "unzip github-release.zip"
  - "rm -f github-release.zip"

  - "pip install -r requirements.txt"
  - "pip install -r requirements-dev.txt"

build_script:
  - "python setup.py build"

test_script:
  - "python setup.py test"

after_test:
  - cmd: IF "%APPVEYOR_REPO_TAG%" == "true" (pyinstaller --onefile league-utils.py)
  - cmd: IF "%APPVEYOR_REPO_TAG%" == "true" (.\bin\windows\amd64\github-release upload --user TheKevJames --repo league --tag %APPVEYOR_REPO_TAG_NAME% --name "league-utils-windows-amd64.exe" --file dist\league-utils.exe)

  - "rm -f %HOME%\\.pypirc"
  - "echo [server-login] > %HOME%\\.pypirc"
  - "echo username:%PYPI_USERNAME% >> %HOME%\\.pypirc"
  - "echo password:%PYPI_PASSWORD% >> %HOME%\\.pypirc"

  - cmd: IF "%APPVEYOR_REPO_TAG%" == "true" (python setup.py register)
  - cmd: IF "%APPVEYOR_REPO_TAG%" == "true" (python setup.py bdist_wininst upload)
  - cmd: IF "%APPVEYOR_REPO_TAG%" == "true" (python setup.py bdist_msi upload)

  - "rm -f %HOME%\\.pypirc"

artifacts:
  - path: dist\*
